<header>
  <bal-navbar no-burger>
    <bal-navbar-brand>
      <bal-icon name="logo" inverted size="large"></bal-icon>
      <bal-text class="ml-3" bold>Open X Day Demo</bal-text>
    </bal-navbar-brand>
  </bal-navbar>
</header>
<main>
  <div class="container">
    <!-- Page content -->
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <span class="mr-3">Baloise Group</span>
    <span class="mr-3">Legal notice</span>
    <span class="mr-3">Cookie policy</span>
    <span>Data protection</span>
  </div>
</footer>
